:root {
    --white: #fff;
    --gray-100: #f0f0f0;
    --gray-500: #858585;
    --primary: #660096;
    --secondary: #08b605;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
}

body {
    background-color: var(--gray-100);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-font-smoothing: antialiased;
}